<nav class="col-md-3 col-sm-12 sidebar-menu">
    <ul class="list-group">
        <li class="list-group-item">
            <NavLink href="/" Match="NavLinkMatch.All">Start</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/schedule">Ramschema</NavLink>
        </li>
          <li class="list-group-item">
            <NavLink href="/convert">Konvertering</NavLink>
        </li>
    </ul>
</nav>