@page "/"

<PageTitle>Hem</PageTitle>

<article>
    <h2 class="mb-4">Välkommen!</h2>
    <p>
       Denna webbplats är skapad för moment 1.2 i kursen <em>Webbutveckling med .NET</em> och är del två av Moment 1 - Grunderna i .NET. <br>
       Webbplatsen är skapad med Blazor WebAssembly och det är första gången jag provar på detta.</p>
    <ul>
        <li>
            Få en grundläggande uppfattning om olika begrepp och tekniker inom ASP.net Core
        </li>
        <li>
            Kunna skapa en enklare webbplats med ASP.net
        </li>
        <li>
            Förstå och kunna använda Razor-syntaxen i dynamiska ASP.net-webbsidor
        </li>
        <li>
            Kunna skapa webbapplikation med Blazor
        </li>
    </ul>
    <p>Under kursens gång kommer jag att fortsätta bygga på mina kunskaper och lära mig mer om .NET för att slutligen
        slå samman alltihop i ett slutprojekt.
    </p>
</article>