@page "/schedule"
@inject HttpClient Http

<h2 class="mb-4">Ramschema</h2>

@if (schedule == null)
{
    <p>Laddar ramschema..</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kurskod</th>
                    <th>Kursnamn</th>
                    <th>Progression</th>
                    <th>Kursplan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in schedule)
                {
                    <tr>
                        <td>@course.Code</td>
                        <td>@course.CourseName</td>
                        <td>@course.Progression</td>
                        <td><a href="@course.Syllabus" class="btn btn-info btn-sm" target="_blank">Kursplan</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    // Array för kurser
    private Schedule[]? schedule;

    // Http-anrop
    protected override async Task OnInitializedAsync()
    {
        schedule = await Http.GetFromJsonAsync<Schedule[]>("https://dahlgren.miun.se/ramschema.php");
    }

    // Model för ramschema
    public class Schedule
    {
        public string? Code { set; get; }
        public string? CourseName { set; get; }
        public string? Progression { set; get; }

        public string? Syllabus { set; get; }
    }
}